*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  font-family: "poppins", sans-serif;
  line-height: 1.6rem;
  max-width: 100vw;
  scroll-behavior: smooth; }

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media only screen and (min-width: 75em) {
    html {
      font-size: 100%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 70%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }

@use 'base';
.u-margin-bottom-smt {
  margin-bottom: 1rem; }

.u-margin-bottom-sm {
  margin-bottom: 2rem; }

.u-margin-bottom-md {
  margin-bottom: 4rem; }

.u-margin-bottom-lg {
  margin-bottom: 8rem; }

.u-margin-left-sm {
  margin-left: 2.5rem; }

.gen-icons {
  fill: #6f8039;
  height: 2rem;
  width: 2rem;
  border: 2px solid #6f8039; }

.back-title {
  font-weight: 600;
  font-size: 1.5rem; }
  .back-title__discription {
    font-weight: 400;
    color: currentColor;
    font-size: 0.75rem; }

.gen-icon__white {
  fill: #f7f7f7;
  height: 2rem;
  width: 2rem; }

.icon {
  height: 2rem;
  width: 2rem;
  fill: #f7f7f7;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  .icon:hover {
    -webkit-transform: translate(5px, -5px);
            transform: translate(5px, -5px);
    cursor: pointer; }

.book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  font-weight: 400;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
  .book:not(:last-child) {
    margin-right: 2.5rem; }
  .book span {
    margin-left: 0.5rem; }

.title {
  text-transform: uppercase;
  color: #6f8039;
  font-size: 2rem;
  font-weight: 300; }

.location-pin {
  fill: #f7f7f7;
  height: 1.2rem;
  width: 1.2rem; }

.ex-icons {
  height: 5rem;
  width: 5rem;
  fill: #6f8039;
  padding: 0.5rem;
  border: 2px solid #6f8039;
  border-radius: 3px;
  background-color: transparent;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
  .ex-icons:hover {
    background-color: #6f8039;
    fill: #f7f7f7; }

.paragraph:not(:last-child) {
  margin-bottom: 2rem; }

.list {
  margin: 0 0.75rem;
  list-style: none;
  font-size: inherit;
  border-top: 2px solid rgba(111, 128, 57, 0.5);
  border-bottom: 2px solid rgba(111, 128, 57, 0.5);
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .list__items {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    margin-bottom: 0.7rem;
    -ms-flex-item-align: center;
        align-self: center; }
  .list__icons {
    height: 1rem;
    width: 1rem;
    fill: #6f8039;
    -ms-flex-item-align: center;
        align-self: center; }

.comments__box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1.2rem;
  height: 15rem;
  width: 20rem;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .comments__box:not(:last-child) {
    margin-bottom: 3rem; }
  .comments__box::after {
    content: '\201C';
    top: 7rem;
    left: -1rem;
    position: absolute;
    font-size: 20rem;
    color: rgba(112, 112, 112, 0.3);
    font-family: poppins;
    z-index: -2; }
.comments__text {
  margin-bottom: 1rem;
  padding: 1rem 0rem;
  font-weight: 300; }
.comments__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
.comments__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 700; }
.comments__photo {
  width: 3rem;
  height: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 1rem; }
.comments__user-box {
  margin-right: auto; }
.comments__user-name {
  font-size: 1rem;
  font-weight: 500; }
.comments__user-title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: rgba(111, 128, 57, 0.3);
  line-height: .75rem;
  padding: .2rem .5rem;
  text-transform: uppercase;
  font-size: .75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 1px solid rgba(111, 128, 57, 0.2);
  border-radius: 2px;
  -ms-flex-item-align: start;
      align-self: flex-start; }

.remedy {
  margin-right: auto; }

.footer {
  color: #6f8039;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 3rem; }
  .footer-socials__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer-socials__box > *:not(:last-child) {
      margin-right: .75rem; }
  .footer-socials__icons {
    fill: #6f8039;
    height: 1.5rem;
    width: 1.5rem; }

.follow {
  color: inherit;
  font-size: 1rem;
  letter-spacing: .2rem;
  padding-top: .75rem;
  padding-right: 10rem;
  border-top: 2px solid rgba(111, 128, 57, 0.9); }

.logo-green {
  color: inherit;
  font-size: 2rem;
  font-weight: 600; }

.piracy {
  margin-top: 3rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  padding-top: .5rem;
  color: inherit; }
  .piracy-statement {
    font-weight: 400;
    font-size: 1rem;
    padding-bottom: .5rem;
    border-bottom: 2px solid rgba(111, 128, 57, 0.5); }
  @media only screen and (min-width: 75em) {
    .piracy {
      font-size: .7rem; } }

.copyright {
  text-align: center;
  color: #6f8039;
  font-size: .8rem;
  margin: 2.5rem auto;
  font-weight: 400; }

@use 'base';
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.sidebar {
  background-color: #6f8039;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  z-index: 100; }
  @media only screen and (max-width: 56.25em) {
    .sidebar {
      display: block;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 10%;
              flex: 0 0 10%; } }

.holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
  position: fixed; }

.nav-container {
  background-color: transparent;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out; }
  .nav-container:hover .nav-icon::before, .nav-container:hover .nav-icon::after {
    cursor: pointer;
    width: 2rem; }

.nav-icon {
  position: absolute;
  width: 2rem;
  height: 3px;
  display: inline-block;
  justify-self: center;
  background-color: #f7f7f7;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  .nav-icon::before, .nav-icon::after {
    width: 1.5rem;
    height: 3px;
    background-color: #f7f7f7;
    display: inherit; }
  .nav-icon::before, .nav-icon::after {
    content: "";
    position: absolute;
    right: 0; }
  .nav-icon::before {
    top: 0.6rem; }
  .nav-icon::after {
    top: -0.6rem; }
  .nav-icon:hover ::before {
    cursor: pointer; }

.user {
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  color: #f7f7f7;
  font-size: 0.75rem;
  padding: 0rem;
  position: relative;
  display: inline-block;
  z-index: 500;
  cursor: pointer; }
  .user__photo {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    -o-object-fit: cover;
       object-fit: cover; }
  .user__notification {
    position: absolute;
    right: 0rem;
    bottom: 0.5rem;
    background-color: red;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 90vh;
          flex: 1 0 90vh;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.header {
  background-image: url(../img/aerial-view-of-seashore-near-large-grey-rocks-853199.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  height: 80vh;
  color: #f7f7f7;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 2rem;
  padding-top: 2rem; }
  .header__logo {
    font-size: 1.5rem;
    top: 1rem;
    left: 1rem;
    margin-bottom: 6rem; }
  .header__caption {
    top: 10rem;
    left: 1rem;
    text-transform: uppercase; }
    .header__caption-1 {
      display: block;
      font-size: 2rem;
      letter-spacing: 0.1rem; }
    .header__caption-2 {
      display: block;
      font-weight: 400;
      font-size: 1rem;
      letter-spacing: 0.8rem; }
  .header__text {
    width: 30%;
    font-size: 0.75rem;
    top: 20rem;
    left: 1rem;
    line-height: 1.2rem;
    padding-top: 1rem;
    border-top: 3px solid #f7f7f7; }
  @media only screen and (min-width: 75em) {
    .header {
      height: 90%; } }
  @media only screen and (max-width: 56.25em) {
    .header {
      height: 80%; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      height: 100%; } }

.icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.rating {
  height: 5rem;
  color: #6f8039;
  text-transform: uppercase;
  margin-bottom: 5rem;
  background-color: rgba(112, 112, 112, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1rem;
  padding-left: 1rem; }

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1.5rem;
  margin-right: auto;
  font-size: 2rem; }
  .location-icon {
    height: 3rem;
    width: 3rem;
    fill: #6f8039;
    -ms-flex-item-align: center;
        align-self: center;
    margin-right: 0.75rem; }

.points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  margin-bottom: 1rem; }
  .points span:not(:last-of-type) {
    padding-bottom: 0.56rem;
    font-size: 1rem;
    letter-spacing: 0.1rem; }
  .points .bg-num {
    font-size: 3rem; }

.tour-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  height: 30rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: contain;
     object-fit: contain; }
  .card-discription {
    position: absolute;
    bottom: 4rem;
    left: 1.2rem;
    font-size: 2rem;
    font-weight: 400; }
    .card-discription__location {
      position: absolute;
      bottom: 1.5rem;
      left: 1.2rem;
      font-size: 1.5rem;
      font-weight: 600; }
  .card__side {
    height: 30rem;
    width: 20rem;
    -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: orangered;
    font-size: 2rem;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    margin-left: 3rem;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
    @media only screen and (max-width: 37.5em) {
      .card__side {
        margin-left: 2rem; } }
    .card__side--front {
      background-color: white;
      position: relative; }
      .card__side--front--1 {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url("../img/card1.jpg");
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3)), url("../img/card1.jpg");
        background-size: cover;
        -o-object-fit: contain;
           object-fit: contain;
        height: 30rem; }
      .card__side--front--2 {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url("../img/card2.jpg");
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3)), url("../img/card2.jpg");
        background-size: cover;
        -o-object-fit: contain;
           object-fit: contain;
        height: 30rem; }
      .card__side--front--3 {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url("../img/card3.jpg");
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3)), url("../img/card3.jpg");
        background-size: cover;
        -o-object-fit: contain;
           object-fit: contain;
        height: 30rem; }
    .card__side--back {
      background-color: green;
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 2rem; }
      .card__side--back--1 {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#e95671), to(#475390));
        background-image: linear-gradient(to bottom, #e95671, #475390);
        background-size: cover;
        -o-object-fit: contain;
           object-fit: contain;
        height: 30rem; }
      .card__side--back--2 {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#3295b0), to(#46b6d3));
        background-image: linear-gradient(to bottom, #3295b0, #46b6d3);
        background-size: cover;
        -o-object-fit: contain;
           object-fit: contain;
        height: 30rem; }
      .card__side--back--3 {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#549e78), to(#6f8039));
        background-image: linear-gradient(to bottom, #549e78, #6f8039);
        background-size: cover;
        -o-object-fit: contain;
           object-fit: contain;
        height: 30rem; }
  .card:hover .card__side--front {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    cursor: pointer;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); }

.explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.more-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2.5rem; }

.icon__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem; }
  .icon__holder--tags {
    color: #6f8039;
    font-size: 1rem; }

.overview {
  background-color: #F7F7F7;
  font-size: 1rem;
  color: #6f8039;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.details {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  padding: 1rem;
  margin-right: 4rem; }

.recommended {
  font-size: 1rem;
  color: currentColor;
  margin-top: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .recommended__count {
    margin-right: auto; }
  .recommended__photos {
    height: 2.5rem;
    width: 2.5rem;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    border: 3px solid white;
    border-radius: 50%; }
    .recommended__photos:not(:last-child) {
      margin-right: -1.5rem; }

.booking__section {
  background-image: linear-gradient(80deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../img/booking.jpg");
  background-size: cover;
  background-position: top;
  height: 30rem;
  padding: 7rem 2rem; }

.form-group {
  margin-bottom: 2rem; }
.form-input {
  font-size: 1rem;
  font-family: poppins;
  text-transform: uppercase;
  padding: .75rem 1.5rem;
  border: 2px solid rgba(112, 112, 112, 0.5);
  width: 40%;
  border-radius: 3px;
  background-color: transparent;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all;
  transition: all; }
  .form-input::-webkit-input-placeholder {
    color: rgba(112, 112, 112, 0.8);
    opacity: 1;
    visibility: visible; }
  .form-input:-ms-input-placeholder {
    color: rgba(112, 112, 112, 0.8);
    opacity: 1;
    visibility: visible; }
  .form-input::-ms-input-placeholder {
    color: rgba(112, 112, 112, 0.8);
    opacity: 1;
    visibility: visible; }
  .form-input::placeholder {
    color: rgba(112, 112, 112, 0.8);
    opacity: 1;
    visibility: visible; }
  .form-input:focus {
    outline: #6f8039 solid 2px;
    border: none;
    color: rgba(112, 112, 112, 0.8); }
  .form-input:focus:invalid {
    outline: #CC234E solid 2px;
    border: none;
    color: rgba(112, 112, 112, 0.8); }

/*# sourceMappingURL=main.css.map */