.u-margin-bottom-sm {
  margin-bottom: 2rem; }

.u-margin-bottom-md {
  margin-bottom: 4rem; }

.u-margin-bottom-lg {
  margin-bottom: 8rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  font-size: 62.5%;
  font-family: 'poppins',sans-serif;
  line-height: 1.6rem;
  max-width: 100vw; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.sidebar {
  background-color: #6F8039;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.nav-container {
  background-color: transparent;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out; }
  .nav-container:hover .nav-icon::before, .nav-container:hover .nav-icon::after {
    cursor: pointer;
    width: 2rem; }

.nav-icon {
  position: fixed;
  top: 2rem;
  right: 3.5rem;
  width: 2rem;
  height: 3px;
  display: inline-block;
  justify-self: center;
  background-color: white;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  .nav-icon::before, .nav-icon::after {
    width: 1.5rem;
    height: 3px;
    background-color: white;
    display: inherit; }
  .nav-icon::before, .nav-icon::after {
    content: "";
    position: absolute;
    right: 0; }
  .nav-icon::before {
    top: 0.6rem; }
  .nav-icon::after {
    top: -0.6rem; }
  .nav-icon:hover ::before {
    cursor: pointer; }

.user {
  margin-top: 7rem;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  text-align: center;
  color: white;
  font-size: 0.75rem;
  padding: 0rem;
  position: fixed;
  cursor: pointer; }
  .user__photo {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    -o-object-fit: cover;
       object-fit: cover; }
  .user__notification {
    position: absolute;
    right: 0rem;
    bottom: 0.5rem;
    background-color: red;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.header {
  background-image: url(../img/aerial-view-of-seashore-near-large-grey-rocks-853199.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  height: 80vh;
  color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 2rem;
  padding-top: 2rem; }
  .header__logo {
    font-size: 1.5rem;
    top: 1rem;
    left: 1rem;
    margin-bottom: 6rem; }
  .header__caption {
    top: 10rem;
    left: 1rem;
    text-transform: uppercase; }
    .header__caption-1 {
      display: block;
      font-size: 2rem;
      letter-spacing: 0.1rem; }
    .header__caption-2 {
      display: block;
      font-weight: 400;
      font-size: 1rem;
      letter-spacing: 0.8rem; }
  .header__text {
    width: 30%;
    font-size: 0.75rem;
    top: 20rem;
    left: 1rem;
    line-height: 1.2rem;
    padding-top: 1rem;
    border-top: 3px solid white; }

.icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0; }
  .icon-container .icon {
    height: 2rem;
    width: 2rem;
    fill: white;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    .icon-container .icon:hover {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
      -webkit-transform: translate(5px, -5px);
              transform: translate(5px, -5px);
      cursor: pointer; }
  .icon-container .book {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1rem;
    font-weight: 400;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: all 0.4s;
    transition: all 0.4s; }
    .icon-container .book:not(:last-child) {
      margin-right: 2.5rem; }
    .icon-container .book span {
      margin-left: 0.5rem; }

.rating {
  height: 5rem;
  color: #6F8039;
  text-transform: uppercase;
  margin-bottom: 5rem;
  background-color: rgba(112, 112, 112, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1rem;
  padding-left: 1rem; }

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1.5rem;
  margin-right: auto;
  font-size: 2rem; }
  .location-icon {
    height: 3rem;
    width: 3rem;
    fill: #6F8039;
    -ms-flex-item-align: center;
        align-self: center;
    margin-right: 0.75rem; }

.points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  margin-bottom: 1rem; }
  .points span:not(:last-of-type) {
    padding-bottom: 0.56rem;
    font-size: 1rem;
    letter-spacing: 0.1rem; }
  .points .bg-num {
    font-size: 3rem; }

.tour-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  position: relative; }
  .tour-cards .title {
    text-transform: uppercase;
    color: #6F8039;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 3rem;
    margin-left: 2.5rem; }

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  height: 25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .card__side {
    height: 25rem;
    width: 15rem;
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: orangered;
    font-size: 2rem;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    margin-left: 3rem;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
    .card__side--front {
      background-color: white; }
      .card__side--front--1 {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url("../img/card1.jpg");
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3)), url("../img/card1.jpg");
        background-size: cover;
        height: 25rem; }
      .card__side--front--2 {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url("../img/card2.jpg");
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3)), url("../img/card2.jpg");
        background-size: cover;
        height: 25rem; }
      .card__side--front--3 {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url("../img/card3.jpg");
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3)), url("../img/card3.jpg");
        background-size: cover;
        height: 25rem; }
    .card__side--back {
      background-color: green;
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      position: absolute; }
  .card:hover .card__side--front {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    cursor: pointer;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); }

/*# sourceMappingURL=main.css.map */